/* Second state styles */
.second-state {
    display: block; /* Visible from the start */
}

canvas {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}

button {
    display: block;
    margin-top: 10px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#controls {
    margin-top: 20px;
    text-align: center;
}

.control-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-group {
    margin-right: 20px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100px;
    background: transparent;
    height: 2px;
    border-radius: 2px;
    border: 1px solid black;
}

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 10px;
        height: 10px;
        background: black;
        border: 1px solid black;
        border-radius: 50%;
        cursor: pointer;
    }
