/* Adjusted styles */

canvas {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}

#undoRedoContainer {
    text-align: center;
    margin-bottom: 10px;
}

#undoBtn, #redoBtn {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

button {
    display: block;
    margin-right: 35px;
    margin-top: 10px;
    background-color: black;
    color: white;
    border: none;
    padding: 0;
    width: 210px;
    height: 150px;
    cursor: pointer;
    font-size: 35px;
}

#controls {
    margin-top: 20px;
    text-align: center;
}

.control-container {
    display: flex;
    justify-content: space-between;
}

.control-group {
    /* Additional styles as needed */
}

input[type="color"] {
    height: 150px;
    width: 150px;
    border: none;
    cursor: pointer;
    margin-left: 35px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 400px;
    background: transparent;
    height: 10px;
    border-radius: 2px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 80px;
}

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 30px;
        height: 30px;
        background: black;
        border: 1px solid black;
        border-radius: 50%;
        cursor: pointer;
    }
